.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CabinetGrotesk-Bold";
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
  cursor: default;
}

.modal__close {
  background-image: url("../../images/closebutton.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 20px;
  max-width: 496px;
  max-height: 436px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-size: 16px;
  line-height: 20px;
}

.modal__legend {
  font-size: 16px;
  line-height: 20px;
  cursor: default;
  padding-bottom: 4px;
}

.modal__input {
  display: block;
  border-bottom: 1px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  padding: 0;
  max-width: 440px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input {
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.modal__radio-input + span {
  opacity: 0.5;
}

.modal__radio-input:checked + span {
  opacity: 1;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: white;
  margin-top: 32px;
  cursor: pointer;
}

.modal__submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
