.modal__image {
  max-height: 498px;
  max-width: 498px;
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
}

.modal_opened {
  visibility: visible;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 12px 32px;
}

.modal__footer-right {
  font-size: 20px;
  line-height: 24px;
  margin: 20px 32px 0 32px;
}

.modal__weather {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 32px 32px;
}

.modal__content_type_image {
  background-color: white;
  position: relative;
  padding: 0;
  max-width: 498px;
  max-height: 610px;
  border-radius: 16px;
  box-sizing: border-box;
  width: 100%;
}

.modal__delete-item {
  border: none;
  color: rgba(255, 77, 0, 1);
  background: #fff;
  cursor: pointer;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

.item__delete-button_visible {
  visibility: visible;
}

.item__delete-button_hidden {
  visibility: hidden;
}
