/* .register-modal__submit-btn {
  cursor: pointer;
} */

.register-modal__submit {
  width: 65px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: white;
  margin-top: 32px;
  margin-right: 12px;
  cursor: pointer;
}

.register-modal__login-toggle {
  border: none;
  background-color: white;
  cursor: pointer;
}
